*{
    box-sizing: border-box;
    margin: 0;
}
.first{
    width: 90%;
    height: auto;
    padding: 10px;
    background-color: blue;
    margin: 20px auto;
}
.second{
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 20px auto;
    background-color: red
}
.third{
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 20px auto;
    background-color: green;
}
